.table > tbody > tr > td {
    vertical-align: middle !important;
}

.paginator{
    text-align: center;
}
.users.form{
    max-width: 504px;
    margin: 0 auto;
    margin-top: 10%;
}
footer {
    position: absolute;
    bottom: 0;
    left: 10px;
}